<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704429265979-3elqld4c0jnb2ssv4bvr6d410cek8c8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704429265979-3elqld4c0jnb2ssv4bvr6d410cek8c8k</string>
	<key>API_KEY</key>
	<string>AIzaSyCeUgL55E9hun5eOBIXqKz3sF5guY1eeQI</string>
	<key>GCM_SENDER_ID</key>
	<string>704429265979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTp</string>
	<key>PROJECT_ID</key>
	<string>flutter-e57de</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-e57de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704429265979:ios:2f787529cf881bd774781e</string>
</dict>
</plist>